body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: LightGray;
  background-color: #1E1C35;
}

.graph {
  margin: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #996633; <! topnav color>
}

.topnav a {
  float: left;
  color: #f2f2f2; <! topnav text color>
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 20px;
}

input {
  width: 46px;
}

.topnav a:hover {
  background-color: #ac7339;
  text-decoration: none;
}

.topnav a.active {
  background-color: #663300;
}

.content {
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
}

.column {
  float: left;
  width: 100px;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

table{
  border: 2px solid white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th {
  text-align: center;
}

/* LINK DECORATION */

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
